extends layout

block content
  div
    main
      div.cd-fixed-bg.cd-fixed-bg--1
        img.logo(src="../images/logo.png")
      div
        div.cd-scrolling-bg.cd-scrolling-bg--color-2
          div.cd-scrolling-bg__content
            h4 俺たちゃべいばんよ
            p 結成５年目くらいの社会人ビックバンドで云々。みんなに笑顔を届けて候。そして早漏。的なことを書くてきな、内容はベイに考えていただきたく。この場を借りてお願いしたい。そろそろこの駄文を書くのも疲れたから。Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur, 
      div.cd-fixed-bg.cd-fixed-bg--2
        h2 Lorem ipsum dolor sit amet.

      div.cd-scrolling-bg.cd-scrolling-bg--color-3
        div.cd-scrolling-bg__content
          h2 NEWS
          p 2019.2.17 2019年度初ライブ！大反響を受けて、ステージサイド／立見も販売決定！ローソンチケット先行は、12月15日(日)15:00より
          p 2019.3.23 カレーパーティー！大反響を受けて、バターチキン／マトンも販売決定！ローソンチケット先行は、12月15日(日)15:00より
      div.cd-fixed-bg.cd-fixed-bg--3
        h2 Lorem ipsum dolor sit amet.

      div.cd-scrolling-bg.cd-scrolling-bg--color-1
        div.cd-scrolling-bg__content
          h2 VIDEO
          p フルポン村上が売れない理由じゃなくて、ライブ動画載せる
          iframe(width="560" height="315" src="https://www.youtube.com/embed/P6AdZLJBuFA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          iframe(width="560" height="315" src="https://www.youtube.com/embed/P6AdZLJBuFA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          iframe(width="560" height="315" src="https://www.youtube.com/embed/P6AdZLJBuFA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

      div.cd-fixed-bg.cd-fixed-bg--4
        h2 BAY Jazz Weekend Official WebSite
        
