doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/core.css')
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src="/javascripts/main.js")
  body
    div#wrap.wrapper
      header.cd-main-header
        div.cd-main-header__logo

        div.cd-main-header__nav
          span.nav-item 
            a.nav(href="#0") NEWS
          span.nav-item 
            a.nav(href="#0") MEDIA
          span.nav-item 
            a.nav(href="#0") SCHEDULE
          span.nav-item 
            a.nav(href="/member") MEMBER
          span.nav-item 
            a.nav(href="#0") DISCOGRAPHY
          span.nav-item 
            a.nav(href="#0") GOODS
          span.nav-item 
            a.nav(href="#0") VIDEO
          span.nav-item 
            a.nav(href="#0") CONTACT
      block content
